<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.yzq.zxinglibrary">


    <application android:label="@string/app_name">
        <!-- zxing扫描界面 -->
        <activity
            android:name=".android.CaptureActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">

        </activity>
    </application>

</manifest>
